<!doctype html>
<html>
  <head>
  <title>Power 2 Start</title>
  </head>
  <body>

      <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-kG4yQHh0PN4ijoufheCawk7Zj4tHmzM&q=Dublin+Ireland" allowfullscreen>

      </iframe
      <ul>
        <li href="resources">Resources</li>
      </ul>
    # <div id="map_wrapper"> #
      <div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>

      <h1>Entrepreneurship resources for youth</h1>

   </body>
</html>
