<!DOCTYPE html>
<html>
  <head>
    <title>Resources to give you the Power 2 Start</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      /* map to fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(53.349805, -6.260310),
          mapTypeId: 'roadmap'
        });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          finance: {
            icon: iconBase + 'grants.png'
          },
          hothouse: {
            icon: iconBase + 'hothouse.png'
          },
          training: {
            icon: iconBase + 'training.png'
          },
        };

        var features = [
          {
            position: new google.maps.LatLng(53.344712, -6.270434),
            type: 'finance'
          }, {
            position: new google.maps.LatLng(53.289333, -6.373658),
            type: 'finance'
          }, {
            position: new google.maps.LatLng(53.344712, -6.270434),
            type: 'finance'
          }, {
            position: new google.maps.LatLng(53.311921, -6.236183),
            type: 'finance'
          }, {
            position: new google.maps.LatLng(53.338530, -6.266599),
            type: 'hothouse'
          }, {
            position: new google.maps.LatLng(53.343573, -6.250343),
            type: 'hothouse'
          }, {
            position: new google.maps.LatLng(53.308265, -6.223639),
            type: 'hothouse'
          }, {
            position: new google.maps.LatLng(53.336939, -6.241927),
            type: 'finance'
          }, {
            position: new google.maps.LatLng(53.330064, -6.374848),
            type: 'training'
          }, {
            position: new google.maps.LatLng(53.348844, -6.247852),
            type: 'hothouse'
          }, {
            position: new google.maps.LatLng(53.342309, -6.283865),
            type: 'finance'
          },
        ];

        # Create markers #
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-kG4yQHh0PN4ijoufheCawk7Zj4tHmzM&callback=initMap">
    </script>
  </body>
</html>
