<!DOCTYPE html>
<html>
  <head>
    <title>Resources to give you the Power 2 Start</title>
  	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-kG4yQHh0PN4ijoufheCawk7Zj4tHmzM&q=Dublin+Ireland">
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry,places&ext=.js">
</script>
  </head>
  <body>

    <div id="map-canvas"  style="width:750px; height:450px; border: 2px solid #3872ac;"/>

    <script type="text/javascript" src="../static/js/maps.js"></script>
    <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-kG4yQHh0PN4ijoufheCawk7Zj4tHmzM&q=Dublin+Ireland" allowfullscreen>

    </iframe>
  </body>
</html>
